# OS and IDE
.DS_Store
.idea
.vscode

# output
dist
_tex

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/

# Unit test / coverage reports
.pytest_cache/

# bibliography temporay files
*.sav
*.bak
