<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <style>
        $styles.html()$
    </style>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$ $if(math)$ $math$ $endif$ $for(header-includes)$ $header-includes$
    $endfor$
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <script src="https://unpkg.com/feather-icons"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap"
        rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.5/dist/medium-zoom.min.js"></script>
    <script>
        function setDarkTheme() {
            document.documentElement.setAttribute("data-theme", "dark");
        }

        function setLightTheme() {
            document.documentElement.setAttribute("data-theme", "light");
        }

        //determines if the user has a set theme
        function detectColorScheme() {
            if (!window.matchMedia) {
                //matchMedia method not supported
                return false;
            } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                //OS theme setting detected as dark
                setDarkTheme();
            }
        }
        detectColorScheme();
    </script>
</head>

<body>
    $for(include-before)$
    $include-before$
    $endfor$

    <nav>
        <div class="toc-container">
            <div class="nav__title">
                <img src="images/uni-logo-mark.svg" />
            </div>
            <div class="$idprefix$TOC">
                $toc$
            </div>
        </div>
    </nav>
    <div id="overlay" onclick="toggleNav()"></div>
    <header>
        <div class="header__left">
            <div class="header__item header__item--toggle-nav" onclick="toggleNav()">
                <i data-feather="menu"></i>
            </div>
            <a href="thesis.pdf" class="button" download>
                <div class="header__item">
                    <i data-feather="download"></i>
                    <span class="tooltip">Download PDF</span>
                </div>
            </a>
            <div class="header__item header__item--bookmark" onclick="alert('book mark is not implemented yet')">
                <i data-feather="bookmark"></i>
                <span class="tooltip">Set Bookmark</span>
            </div>
            <div class="header__item header__item--style">
                <i data-feather="sliders"></i>
                <div class="dropdown">
                    <div class="theme">
                        <div class="dropdown__item" onclick="setLightTheme()">
                            <i data-feather="sun"></i>
                        </div>
                        <div class="dropdown__item" onclick="setDarkTheme()">
                            <i data-feather="moon"></i>
                        </div>
                    </div>
                    <div class="font-size">
                        <div class="dropdown__item" onclick="changeFontSize(-2)">
                            <i data-feather="zoom-out"></i>
                        </div>
                        <div class="dropdown__item" onclick="changeFontSize(+2)">
                            <i data-feather="zoom-in"></i>
                        </div>
                    </div>
                    <div class="font-style">
                        <div class="dropdown__item" onclick="setSansFont()">Sans</div>
                        <div class="dropdown__item" style="font-family: var(--serif-font);" onclick="setSerifFont()">
                            Serif
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__right">
            <a href="mailto:fandreas@physik.hu-berlin.de" target="_blank">
                <div class="header__item">
                    <i data-feather="mail"></i>
                    <span class="tooltip">Send Mail</span>
                </div>
            </a>
            <a href="https://github.com/andreasfelix" target="_blank">
                <div class="header__item">
                    <i data-feather="github"></i>
                    <span class="tooltip">View Github Page</span>
                </div>
            </a>
        </div>
    </header>
    <main>
        <div class="pages">
            <div id="title-page">
                <!-- <h1>Lattice Development at the BESSY II Storage Ring:
                    Optimization of the Twiss parameter</h1> -->
                <h1>Master Thesis</h1>
                <div class="thesis-text">
                    A thesis submitted in fulfillment of the requirements for the degree
                    of Master of Science (M.Sc)
                </div>
                <table class="info">
                    <tr>
                        <th><strong>Title:</strong></th>
                        <th>
                            Developing a Python-based Lattice Development Code
                        </th>
                    </tr>
                    <tr>
                        <th><strong>Author:</strong></th>
                        <th>Felix Andreas</th>
                    </tr>
                    <tr>
                        <th><strong>Supervisors:</strong></th>
                        <th>Prof. Dr. Andreas Jankowiak, Dr. Paul Goslawski</th>
                    </tr>
                    <tr>
                        <th><strong>Institution:</strong></th>
                        <th>
                            <a href="https://www.physik.hu-berlin.de" rel="nofollow">
                                Department of Physics, <br />
                                Faculty of Mathematics and Natural Sciences,<br />
                                Humboldt University of Berlin
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th><strong>Date:</strong></th>
                        <th>June 29, 2020</th>
                    </tr>
                </table>
            </div>
            $if(lof)$
            <div id="$idprefix$LOF">
                $lof$
            </div>
            $endif$ $if(lot)$
            <div id="$idprefix$LOT">
                $lot$
            </div>
            $endif$ $body$
        </div>
    </main>

    $for(include-after)$
    $include-after$
    $endfor$

    <script>
        let root = document.documentElement;
        let style = getComputedStyle(root, null);
        const nav = document.querySelector("nav");
        const overlay = document.querySelector("#overlay");
        function toggleNav() {
            nav.classList.toggle("show");
            overlay.classList.toggle("show");
        }

        function changeFontSize(diff) {
            let current = style.getPropertyValue("--font-size").trim().slice(0, -2);
            let new_value = Number(current) + diff;
            root.style.setProperty("--font-size", new_value + "px");
        }

        function changePageWidth(diff) {
            let current = style
                .getPropertyValue("--page-width")
                .trim()
                .slice(0, -2);
            let new_value = Number(current) + diff;
            root.style.setProperty("--page-width", new_value + "mm");
        }

        function setSansFont() {
            root.style.setProperty("--content-font", "var(--sans-font)");
        }

        function setSerifFont() {
            root.style.setProperty("--content-font", "var(--serif-font)");
        }

        feather.replace();
        mediumZoom(document.querySelectorAll("figure>img"), {
            margin: 50,
            background: "#FFFFFF",
        });
    </script>
</body>

</html>
