body {
    font-family: var(--serif-font);
    hyphens: auto;
}

p {
    text-align: justify;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    break-after: avoid;
}

h1 {
    /* break-before: right; */
    string-set: heading-1 content(text);
}

h2 {
    string-set: heading-2 content(text);
}

figure {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

figure img {
    /* necessary to avoid vertical spacing*/
    max-width: 100%;
}

figure figcaption {
    margin: 0.5em 0;
    text-align: center;
    font-size: 0.875em;
}

a {
    text-decoration: none;
    color: inherit;
}


#title-page {
    height: 240mm;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#title-page>.thesis-type {
    font-size: 1.25em;
    font-variant: small-caps;
}

#title-page>.thesis-title {
    font-size: 1.5em;
    font-weight: 500;
}

#title-page>.author-supervisor {
    display: flex;
    justify-content: space-between;
}

#title-page>.author-supervisor>div:nth-child(1) {
    text-align: left;
}

#title-page>.author-supervisor>div:nth-child(2) {
    text-align: right;
}

#title-page>.author-supervisor>div>div:nth-child(1) {
    font-style: italic;
}

#title-page>.author-supervisor>div>div:nth-child(2) {
    font-variant: small-caps;
}

#title-page>.thesis-and-institute {
    margin: 0 15mm;
    font-style: italic;
}

#title-page>.thesis-and-institute>* {
    margin-bottom: 0.5em;
}

#toc ul {
    list-style-type: none;
}

#toc span.toc-section-number {
    margin-right: 1em;
}

#toc>ul>li {
    margin-bottom: 1em;
}

#toc>ul>li>a {
    font-weight: 600;
}

#toc a::after {
    content: target-counter(attr(href), page);
    font-weight: normal;
    float: right;
}

#title-page {
    page: title-page;
    break-after: right;
}

.frontmatter>section.level1 {
    page: frontmatter;
}

main>section.level1 {
    page: main;
}

section.level1 {
    break-after: right;
}

#abstract>h1:first-child {
    counter-reset: page 1;
}

#introduction>h1:first-child {
    counter-reset: page 1;
}

#declaration-of-authorship {
    height: 240mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#declaration-of-authorship > .signature {
    margin-top: 4em;
    max-width: 400px;
}

#declaration-of-authorship > .signature > * {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 4em;
}

@media print {
    @page {
        size: A4;
    }

    @page :first {
        margin: 25mm 20mm;
    }

    @page :left {
        margin-left: 30mm;
        margin-right: 20mm;
    }

    @page :right {
        margin-left: 20mm;
        margin-right: 30mm;
    }

    /* @page main :first {
        @top-left {
            content: none !important;
        }
    } */

    @page main :left {
        @top-left {
            font-size: 0.875em;
            content: counter(page);
        }

        @top-right {
            font-size: 0.875em;
            content: string(heading-1);
            width: max-content;
            font-style: italic;
        }
    }

    @page main :right {
        @top-left {
            font-size: 0.875em;
            content: string(heading-2);
            width: max-content;
            font-style: italic;
        }

        @top-right {
            font-size: 0.875em;
            content: counter(page);
        }
    }

    @page frontmatter :left {
        @top-left {
            font-size: 0.875em;
            content: counter(page, lower-roman);
        }
    }

    @page frontmatter :right {
        @top-right {
            font-size: 0.875em;
            content: counter(page, lower-roman);
        }
    }
}