/*
 * Layout
 */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-width: fit-content;
    padding: 0;
    margin: 0;
    /* does not work with sticky ?!*/
    /* overflow-x: hidden; */
}

body {
    font-family: var(--ui-font);
    color: var(--text-color);
    background: var(--page-color);
    transition: background var(--style-transition);
    display: grid;
    grid-template-columns:
        minmax(var(--nav-width), 1fr) minmax(0, var(--page-width)) 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "nav header header""nav main .";
}

.feather {
    height: 16px;
    color: var(--icon-color);
    transition: color var(--style-transition);
}

.medium-zoom-overlay {
    z-index: 10;
}

.medium-zoom-image--opened {
    z-index: 11;
}

/*
 * Nav
 */

nav {
    grid-area: nav;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text-color-muted);
    background: var(--nav-color);
    border-right: 1px solid var(--border-color);
    transition: transform 200ms ease-out, background var(--style-transition),
        border var(--style-transition);
    scrollbar-width: thin;
    scrollbar-color: var(--border-color);
}

nav::-webkit-scrollbar {
    width: 4px;
}

nav::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 20px;
}

nav:hover::-webkit-scrollbar-thumb {
    background: var(--border-color);
}

nav .toc-container {
    padding-left: 30px;
    min-width: var(--nav-width);
    height: 100vh;
    margin-left: auto;
}

.nav__title {
    padding-top: 20px;
    display: flex;
    font-weight: 700;
    align-items: center;
}

.nav__title img {
    height: 120px;
    filter: var(--uni-logo-filter);
}

nav .TOC {
    margin-top: 20px;
    font-size: 0.875em;
}

.TOC ul {
    /* padding: 0 0 0 10px; */
    padding: 0;
    list-style: none;
}

.TOC>ul {
    padding: 0;
}

.TOC>ul>li>a {
    font-weight: 600;
    font-size: 1.25em;
    font-variant: small-caps;
}

.TOC a {
    padding: 10px 0;
    color: var(--text-color-muted);
    text-decoration: none;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.TOC a:hover {
    color: var(--accent-color);
    background: var(--hover-color);
}

/*
 * Header
 */

header {
    grid-area: header;
    background: var(--header-color);
    border-bottom: 1px solid var(--border-color);
    transition: background var(--style-transition), border var(--style-transition);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    text-decoration: none;
    z-index: 1;
}

header a {
    text-decoration: none;
}

.header__left,
.header__right {
    display: flex;
}

.header__item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--header-height);
    position: relative;
}

.header__item:hover {
    background: var(--hover-color);
    transition: background var(--style-transition);
}

.header__item:hover>.feather {
    color: var(--accent-color);
}

.tooltip {
    visibility: hidden;
    position: absolute;
    min-width: max-content;
    top: 40px;
    font-size: 0.75em;
    padding: 4px;
    color: var(--nav-color);
    background: var(--text-color-muted);
    border-radius: 4px;
}

.header__left .tooltip {
    left: 4px;
}

.header__right .tooltip {
    right: 4px;
}

.header__item:hover>.tooltip {
    animation: 0s linear 400ms forwards delayedShow;
}

@keyframes delayedShow {
    to {
        visibility: visible;
    }
}

.dropdown {
    visibility: hidden;
    position: absolute;
    top: calc(var(--header-height) - 2px);
    left: calc(-80px + 50%);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: var(--shadow);
    background: var(--header-color);
    transition: var(--style-transition);
}

.header__item:hover>.dropdown {
    visibility: visible;
}

/* TODO: use ripple effect from stockr */
.dropdown:after,
.dropdown:before {
    transition: border var(--style-transition);
    bottom: 100%;
    border: solid transparent;
    content: " ";
    left: 79.3px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown:after {
    border-bottom-color: var(--header-color);
    border-width: 10.6px;
    margin-left: -10.6px;
}

.dropdown:before {
    border-bottom-color: var(--border-color);
    border-width: 12px;
    margin-left: -12px;
}

.dropdown>* {
    color: var(--icon-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dropdown__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: background 0.8s;
}

.dropdown__item:hover>.feather {
    color: var(--accent-color);
}

.dropdown__item:hover {
    color: var(--accent-color);
    background: var(--hover-color) radial-gradient(circle, transparent 1%, var(--hover-color) 1%) center/15000%;
}

.dropdown__item:active {
    background-color: var(--border-color);
    background-size: 100%;
    transition: background 0s;
}

.dropdown .font-style {
    font-weight: 600;
}

/*
 * Pages
 */

main {
    overflow-x: hidden;
    grid-area: main;
    font-family: var(--content-font);
    font-size: var(--font-size);
    background: var(--page-color);
    transition: background var(--style-transition);
}

.pages {
    max-width: var(--page-width);
    padding: 0 var(--padding) 20mm;
    outline: none;
}

/*
 * Title Page
 */

#title-page {
    font-family: var(--sans-font);
    /* margin-bottom: 200px; */
}

#title-page h1 {
    /* font-variant: small-caps; */
    margin-top: calc(2.5em - var(--header-height));
    text-align: left;
}

#title-page .thesis-text {
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 2em;
    color: var(--text-color-muted);
}

#title-page .info {
    margin-top: 10px;
    background: var(--page-color-highlight));
    border: 1px solid var(--border-color);
    border-left: 4px solid var(--accent-color);
    border-radius: 4px;
    transition: border var(--style-transition);
    padding: 10px 20px;
}

#title-page .info th:nth-child(1) {
    text-align: right;
    vertical-align: top;
}

#title-page .info th:nth-child(2) {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    padding: 0 1em 0.5em;
}

/*
 * Mobile
 */

#overlay,
.header__item--toggle-nav {
    display: none;
}

@media only screen and (max-width: 800px) {
    :root {
        --padding: 5vw;
    }

    body {
        grid-template-columns: auto;
        grid-template-areas: "header""main";
    }

    nav {
        position: fixed;
        z-index: 3;
        max-width: 80vw;
        transform: translateX(-100%);
        transition: transform 200ms ease-out;
        top: 0;
        right: 0;
    }

    nav.show {
        transform: translateX(0);
    }

    .header__item--toggle-nav {
        display: flex;
    }

    #overlay.show {
        cursor: pointer;
        display: block;
        position: fixed;
        /* cannot use vw/vh - mobile viewport can change */
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}
